<article class="post">
  <h3>
    <a
      href="/post/{{id}}"
    >{{post_title}}</a>
  </h3>
   <br />
    {{post_content}}
  <br />
    <span>Posted by
      {{user.username}}
      on
      {{format_date created_at}}</span>
  </p>
</article>